/*header*/
.header--container {
  max-width: 1024px;
  margin: 0 auto;
}
.navegation {
  width: 50%;
}
/*second section*/
.main--second-section-card {
  margin: 20px;
}

/*third section*/
.main--third-section {
  margin: 0 auto;
}
/*fin del header */

.main-first-section {
  margin-top: 80px;
}

.container {
  max-width: 1200px;
}
