/*header*/
.header--container {
  max-width: 1200px;
  margin: 0 auto;
}
.navegation {
  width: 50%;
}

/*fs*/
.main--first-section--container {
  width: 50%;
}
.main--first-section--container h2 {
  font-size: 6rem;
}
.main--first-section--container h1 {
  font-size: 3.5rem;
}
.contenedor-hero {
  max-width: 1200px;
}
/*second section*/
.main--second-section-card {
  margin: 20px;
}

/*third section*/
.main--third-section {
  margin: 0 auto;
}
/*fin del header */

.main-first-section {
  margin-top: 80px;
}

.container {
  max-width: 1200px;
}
