* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*Reutilizables*/
h1 {
  font-size: 3rem;
  color: #71af59;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  color: #83d364;
  font-weight: 700;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
p {
  display: inline-block;
}

.btn {
  background-color: #4e9e99;
  border-style: none;
  font-size: 1.5rem;
  padding: 10px 0;
  color: white;
  margin: 5px 0;
  width: 80%;
  border-radius: 5px;
}
.btn-primary {
  background-color: #69c04d;
}
.header--content-container {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  right: calc(50% - 50vw);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0px 5px 6px -3px rgb(0 0 0 / 75%);
}

.header-logo {
  width: 150px;
}
.header-logo img {
  max-width: 100%;
}
.header--container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
}

/*navegation*/
.navegation {
  z-index: 10;
  position: fixed;
}
.navegation {
  display: none;
  width: 100vw;
  height: calc(100% - 70px);
  background-color: white;
  top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
}
.navegation ul {
  height: 100%;
  display: block;
  padding-top: 20%;
}
.navegation ul li {
  background-color: rgb(238 238 255);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.navegation ul li a {
  padding: 20px 50%;
  display: block;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}
.hamburger {
  z-index: 11;
  padding: 0px;
}

/*first section*/
.main-first-section {
  margin-top: 70px;
  width: 100%;
  height: 70vh;
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Second section*/
.main-second-section--container {
  text-align: center;
}
.main--second-section--cards-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
}
.main--second-section-card {
  border-color: rgb(134, 207, 154);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  max-width: 400px;
  margin: 10px auto;
}
.main--second-section-card img {
  max-width: 100%;
}
.second-section--card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-section--card-text--name {
  font-size: 2rem;
}
.second-section--card-text--description {
  font-size: 1.5rem;
}
