* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*Reutilizables*/
h1 {
  font-size: 3rem;
  color: #71af59;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  color: #83d364;
  font-weight: 700;
}
p {
  display: inline-block;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}
/*Reveladores*/
.show-shape {
  border: 2px solid black;
}
/*Margin and padding*/

/*Margin*/
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-sides-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.m-sides-20 {
  margin-left: 20px;
  margin-right: 20px;
}

/*padding*/
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-sides-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-sides-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mx-width100 {
  max-width: 100%;
}
.btn {
  background-color: #4e9e99;
  border-style: none;
  font-size: 1.5rem;
  color: white;
  width: 90%;
  border-radius: 10px;
}
.btn-primary {
  background-color: #69c04d;
}

/*Display flex*/

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/
.header--content-container {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  right: calc(50% - 50vw);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0px 5px 6px -3px rgb(0 0 0 / 75%);
}

.header-logo {
  width: 150px;
}
.header-logo img {
  max-width: 100%;
}
.header--container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
}

/*navegation*/
.navegation {
  z-index: 10;
  position: fixed;
}
.navegation {
  display: none;
  width: 100vw;
  height: calc(100% - 70px);
  background-color: white;
  top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
}
.navegation ul {
  height: 100%;
  display: block;
  padding-top: 20%;
}
.navegation ul li {
  background-color: rgb(238 238 255);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.navegation ul li a {
  padding: 20px 50%;
  display: block;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}
.hamburger {
  z-index: 11;
  padding: 0px;
}

/*first section*/
.main-first-section {
  margin-top: 70px;
  width: 100%;
  height: 70vh;
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Second section*/
.main-second-section--container {
  text-align: center;
}
.main--second-section--cards-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
}
.main--second-section-card {
  border-color: rgb(134, 207, 154);
  border-radius: 10px;
  border-style: solid;
  max-width: 400px;
  margin: 10px auto;
}
.main--second-section-card img {
  max-width: 100%;
}

.second-section--card-text--name {
  font-size: 2rem;
}
.second-section--card-text--description {
  font-size: 1.5rem;
}

/*third section*/
.main--third-section {
  background-color: #ecfef1;
}
.main--third-section--container {
  text-align: center;
}
.main--third-section--container h2 {
  display: inline-block;
}

.icono-contenedor {
  width: 80px;
}

/*Fourt section*/

.main--fourt-section-container h2 {
  font-size: 4.5rem;
  text-align: left;
}
.fourt--section--image-container,
.fourt--section--text--container {
  max-width: 500px;
}
