* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*Reutilizables*/

h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
h2 {
  font-size: 3rem;
  color: #83d364;
  font-weight: 300;
  display: inline-block;
}
h3 {
  color: #8e9c94;
  font-size: 3rem;
  font-weight: 300;
}
p {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 0 auto;
}
/*Reveladores*/
.show-shape {
  border: 2px solid black;
}
/*Margin and padding*/

/*Margin*/
.m-0-auto {
  margin: 0 auto;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-sides-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.m-sides-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
/*padding*/
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-sides-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-sides-20 {
  padding-left: 20px;
  padding-right: 20px;
}

/*fuente*/
.fs-15rem {
  font-size: 1.5rem;
}
/*Ancho y alto*/
.mx-width100 {
  max-width: 100%;
}
.btn {
  background-color: #4e9e99;
  border-style: none;
  font-size: 1.5rem;
  color: white;
  width: 90%;
  border-radius: 10px;
}
.btn-primary {
  background-color: #69c04d;
}
.btn-w-100 {
  width: 100%;
}

/*Display flex*/

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/
.header--content-container {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  right: calc(50% - 50vw);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0px 0px 6px -3px rgb(0 0 0 / 75%);
  z-index: 10;
}

.header-logo {
  width: 150px;
}
.header-logo img {
  max-width: 100%;
}
.header--container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
}

/*navegation*/
.navegation {
  z-index: 100;
  position: fixed;
}
.navegation {
  display: none;
  width: 100vw;
  height: calc(100% - 70px);
  background-color: white;
  top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
}
.navegation ul {
  height: 100%;
  display: block;
  padding-top: 20%;
}
.navegation ul li {
  background-color: rgb(78 158 153 / 10%);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.navegation ul li a {
  padding: 20px 0;
  display: block;
  color: rgb(100 150 81);
  font-size: 1.6rem;
  text-decoration: none;
}
.hamburger {
  z-index: 11;
  padding: 0px;
}

/*first section*/
.main-first-section {
  margin-top: 70px;
  width: 100%;
  height: 70vh;
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Second section*/
.main--second-section {
}
.main-second-section--container {
  text-align: center;
  padding: 70px 0;
}
.main--second-section--cards-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.main--second-section-card {
  border-color: rgb(134, 207, 154);
  border-radius: 10px;
  border-style: solid;
  max-width: 320px;
  margin: 10px auto;
}
.main--second-section-card img {
  max-width: 100%;
}

.second-section--card-text--name {
  font-size: 2rem;
}
.second-section--card-text--description {
  font-size: 1.5rem;
}
button img {
  height: 20px;
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*third section*/

.main--third-section {
  background-color: #ecfef1;
}
.main--third-section--container {
  text-align: center;
}
.main--third-section--container h2 {
  display: inline-block;
}

.icono-container {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

/*Fourt section*/

.main--fourt-section-container h2 {
  font-size: 4.5rem;
  text-align: left;
}
.fourt--section--image-container,
.fourt--section--text--container {
  max-width: 500px;
}

.main--fourt-section-container {
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

/*footer*/
footer {
  background-color: #2d4035;
}
.footer--first-section--contact {
  display: flex;
  flex-direction: column;
}
.first-section--contact--icon-text {
  display: flex;
}
/*footer*/
.footer--first-section--contact > img {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.first-section--contact--icon,
.footer--second-section--follow-us--icon {
  width: 20px;
  height: 20px;
  border: 1.58px solid #4e9e99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10%;
}

.first-section--contact--icon img {
  max-width: 13px;
}
.first-section--contact--text {
  margin-left: 10px;
}
.first-section--contact--text p {
  font-size: 1.7rem;
  color: #8e9c94;
}

/*footer second section*/
footer {
  display: flex;
  flex-direction: column;
}
.footer--first-section--contact {
  max-width: 400px;
}
.footer--second-section--follow-us--container {
  max-width: 400px;
}

.footer--second-section--follow-us--icons-container {
  display: flex;
  justify-content: space-between;
}
.footer--second-section--follow-us--icon {
  border-radius: 50%;
}

.footer--second-section--follow-us--icon img {
  max-width: 15px;
}

/*Contacto*/
.found-us--contacto-main--second-section {
  height: 60vh;
  width: 100vw;
}
#mapid {
  height: 100%;
  width: 100%;
}

/*nosotros*/

/*Second Section*/
.about-us--main--second-section {
  position: relative;
  background-color: white;
}
.about-us--main--second-section--container {
  text-align: center;
  margin-top: 250px;
}

.about-us--main--second-section--container h2 {
  margin: 30px 0;
}

.about-us--second-section--content--icon {
  max-width: 100%;
  height: 150px;
}

.about-us--second-section--content--text {
  text-align: center;
  width: 100%;
}
.about-us--second-section--content--text h3 {
  margin: 20px;
}
.about-us--second-section--content--text p {
  line-height: 2;
  text-align: justify;
}
.background-image-about-us {
  position: absolute;
  top: 0;
  height: 360px;
  width: 100vw;
  background-color: black;
  z-index: -1;
}
