/*header*/
.header-logo p {
  font-size: 3.5rem;
}
.hamburger {
  display: none;
}

.navegation {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  top: 0;
  background-color: white;
  position: inherit;
  overflow: hidden;
}

.navegation ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
}
.navegation ul li {
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.navegation ul li a {
  padding: 0;
}
/*Header*/

.header--content-container {
  height: 80px;
}
.header-logo {
  width: 200px;
}

/*fs*/
.main-first-section {
  margin-top: 80px;
}
.contenedor-hero {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.main--first-section--container {
  text-align: right;
  max-width: 50%;
  margin: 0 0;
  align-items: flex-end;
}
.main--first-section--container h2 {
  font-size: 4rem;
}
.main--first-section--container h1 {
  font-size: 3rem;
}

/*ss*/
.main--second-section--cards-container {
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: row;
  margin: 0 auto;
}
/*third-section*/
.main--third-section--container {
  padding: 70px 0;
}

.main--third-section--icons-container {
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
}

/*Fourt-section*/

.main--fourt-section-container {
  padding: 70px 0;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}
/*footer*/
.footer-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 0;
  flex-basis: repeat(2, 1fr);
}
.footer--first-section--contact {
  min-width: 400px;
}
.footer--second-section--follow-us--container {
  min-width: 400px;
}

/*about us*/
.about-us--main--second-section--container {
}
.background-image-about-us {
  height: 70vh;
  margin-top: 80px;
}
.about-us--main--second-section {
  max-width: 90%;
}
.mw-80 {
  max-width: 90%;
  margin: 20px auto;
}

/*contacto*/
.contact--main-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.contacto-main--first-section,
.found-us--contacto-main--second-section {
  max-width: 50%;
}
.found-us--contacto-main--second-section {
  border-radius: 10px;
}
.contacto-main--first-section,
.found-us--contacto-main--second-section {
  width: 400px;
  height: 400px;
}
#mapid {
  border-radius: 5px;
}
.contact--main-section {
  margin-top: 80px;
}
